.control-label
	font-weight normal

.text-danger
	color $MyDangerColor

.text-info
	color $MyInfoColor

.text-warning
	color $MyWarningColor

.text-success
	color $MySuccessColor

.well.form-section
	border-bottom none
	border-left none
	border-radius 0
	border-right none
	box-shadow none
