@font-face
	font-family 'Source Sans Pro'
	font-weight normal
	src url(../fonts/SourceSansPro/SourceSansPro-Regular.woff2) format('woff2'),
	url(../fonts/SourceSansPro/SourceSansPro-Regular.woff) format('woff'),
	url(../fonts/SourceSansPro/SourceSansPro-Regular.ttf) format('ttf')

@font-face
	font-family 'Source Sans Pro'
	font-weight bold
	src url(../fonts/SourceSansPro/SourceSansPro-Bold.woff2) format('woff2'),
	url(../fonts/SourceSansPro/SourceSansPro-Bold.woff) format('woff'),
	url(../fonts/SourceSansPro/SourceSansPro-Bold.ttf) format('ttf')

@font-face
	font-family 'Source Sans Pro'
	font-weight 600
	src url(../fonts/SourceSansPro/SourceSansPro-Semibold.woff2) format('woff2'),
	url(../fonts/SourceSansPro/SourceSansPro-Semibold.woff) format('woff'),
	url(../fonts/SourceSansPro/SourceSansPro-Semibold.ttf) format('ttf')

@font-face
	font-family 'Source Sans Pro'
	font-weight 300
	src url(../fonts/SourceSansPro/SourceSansPro-Light.woff2) format('woff2'),
	url(../fonts/SourceSansPro/SourceSansPro-Light.woff) format('woff'),
	url(../fonts/SourceSansPro/SourceSansPro-Light.ttf) format('ttf')
