.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.box {
    overflow: hidden;
}
.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}
.push {
    visibility: hidden;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 0.5% 0 0.5% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.row:before,
.row:after { content:""; display:table; }
.row:after { clear:both;}
.row { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.col-sm-12 {
    width: 100%;
}

.col-sm-11 {
    width: 91.53%;
}
.col-sm-10 {
    width: 83.06%;
}

.col-sm-9 {
    width: 74.6%;
}

.col-sm-8 {
    width: 66.13%;
}

.col-sm-7 {
    width: 57.66%;
}

.col-sm-6 {
    width: 49.2%;
}

.col-sm-5 {
    width: 40.73%;
}

.col-sm-4 {
    width: 32.26%;
}

.col-sm-3 {
    width: 23.8%;
}

.col-sm-2 {
    width: 15.33%;
}

.col-sm-1 {
    width: 6.866%;
}

.myfixed {
    position: absolute;
    overflow: visible;
    left: 0;
    right: 0;
    width: 100mm;   /* you must specify a width */
    margin-top: 20mm;
    margin-bottom: auto;
    margin-left: 30mm;
    margin-right: auto;
    border: 1px solid #000088;
    background-color: #EEDDFF;
}

.rectangulo {
    width: 15px;
    height: 12px;
    border: 1px solid black;
    font-size: 7px;
    text-align: center;
}

