.seyc-intro
	background-image url($bgIntro)
	background-size cover
	color #f8f8f8
	height 618px
	padding 100px 0 100px 0
	text-align center

	.intro-message
		h1,h3
			text-shadow 2px 2px 3px rgba(0,0,0,0.6)
		h1
			margin 0
			font-size 4em


	.login
		background-color RGBA(42, 38, 38, 0.5)
		border 1px solid #e3e3e3
		border-radius 5px
		color #f8f8f8
		a
			color #f8f8f8
		padding-top 30px
		.remember-me
			text-align left
			margin-bottom 20px
