@import "variables.styl"
@import "fonts.styl"
@import "bootstrap-custom.styl"

html
body
	height 100%

body
	font-family $font-family
	font-size 1.6rem

table
.table
	.success
	.warning
	.danger
	.info
		color #fff
	tbody
		& > tr
			&.success
				& > td
					background-color #54B59A
			&.warning
				& > td
					background-color #EA9F33
			&.danger
				& > td
					background-color #D95F49
			&.info
				& > td
					background-color #489AD8
		td
			vertical-align middle!important

ul.reset
	padding 0
	margin 0
	list-style none

ul.menu-lateral
	li
		align-items center
		display flex
		border-bottom 1px solid #ddd
		padding 15px 15px
		&:last-child
			border-bottom 0
	li.active
		a
			font-weight 700
	a
		flex 1


#menu-lateral-container
	padding 0

.page-wrap
	min-height 87%
	/* equal to footer height */
	margin-top -20px
	margin-bottom -62px

.page-wrap:after
	content ""
	display block

.btn
	font-size 1.6rem

.form-control.top
	border-radius: 5px 5px 0 0;
	margin-bottom: 0;

.form-control.bottom
	border-radius: 0 0 5px 5px;
	border-top: 0;
	margin-bottom: 20px;

.form-control.no-radius
	border-radius 0


.container.top
	padding-top 20px

.gray-content-block
	background-color: #FAF9F9;
	padding: 16px;
	border-top: 1px solid #EFEFF1

.panel-heading a:after {
	font-family:'Glyphicons Halflings';
	content:"\e114";
	float: right;
	color: grey;
}
.panel-heading a.collapsed:after {
	content:"\e080";
}



#container-error-list, #container-alert
	left 0
	margin-left auto
	margin-right auto
	position fixed
	right 0
	top 6px
	z-index 9999


footer
.page-wrap:after
.footer
	height 62px


footer
	box-sizing content-box
	background-color #F8F8F8
	border-top 1px solid #E7E7E7
	padding 1.5em 0
	margin: 0 auto;
	width 100%

.footer
	background-image url($footer)
	background-size contain
	background-repeat no-repeat
	margin 0 auto
	width 90%


@import "login.styl"
